<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isHacker">
    <ion-row
      style="height: 100%; align-content: center"
      class="ion-justify-content-center"
    >
      <ion-col size="auto" class="white-card-container list-container">
        <ion-label id="hacker">Hacker</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isHacker">
    <ion-row
      style="height: 100%; align-content: center"
      class="ion-justify-content-center"
    >
      <ion-col size="auto" class="white-card-container list-container">
        <ion-row class="ion-justify-content-center"> Welcome </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
          >
          </ion-img>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <app-quote></app-quote
        ></ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
